################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/WAP_Project/FileContentIndex/233ecc7c-9973-4aff-87bf-30e1c15096c7.vsidx
