################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/WAP_Project/FileContentIndex/233ecc7c-9973-4aff-87bf-30e1c15096c7.vsidx
/Backend/.vs/WAP_Project/FileContentIndex/3697a2ff-f916-40a2-a833-5041bd2c68cb.vsidx
/Backend/.vs/WAP_Project/FileContentIndex/4196b234-f537-4d7c-816a-d4f1a069d670.vsidx
/Backend/.vs/WAP_Project/FileContentIndex
