/* General Page Styles */
.home-page {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .home-page h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Course List Styles */
  .courses-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  /* Pagination Styles */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .pagination button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  .pagination span {
    font-size: 16px;
  }